<p class="text-xl text-gray-600 dark:text-gray-200 text-center">Content de te revoir!</p>
<app-continue-with-google></app-continue-with-google>
<div class="mt-4 flex items-center justify-between">
  <hr class="w-full"/>
  <a href="#" class="text-xs text-center text-gray-500 dark:text-gray-200 uppercase mx-4">ou</a>
  <hr class="w-full"/>
</div>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="mt-4">
    <label class="block text-gray-700 dark:text-gray-200 text-sm font-bold mb-2">Adresse E-mail</label>
    <input class="bg-gray-200 dark:bg-gray-800/40 dark:border-gray-700 dark:text-gray-200 text-gray-700  focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="email" formControlName="email" />
    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      <div class="text-red-500 text-xs mt-1">Adresse E-mail invalide</div>
    }
  </div>
  <div class="mt-4">
    <div class="flex justify-between">
      <label class="block text-gray-700 dark:text-gray-200 text-sm font-bold mb-2">Mot de passe</label>
      <a href="#" class="text-xs text-gray-500 dark:text-gray-200">Mot de passe oublié?</a>
    </div>
    <div class="relative">
      <input class="bg-gray-200 dark:bg-gray-800/40 dark:border-gray-700 dark:text-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="password" formControlName="password"  [type]="showPassword ? 'text' : 'password'" />
      <button id="password" type="button" (click)="showPassword = !showPassword" class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-hidden focus:text-blue-600 dark:text-neutral-600 dark:focus:text-blue-500">
        @if (showPassword) {
          <span class="icon-[material-symbols--visibility-outline-rounded]"></span>
        }
        @else {
          <span class="icon-[material-symbols--visibility-off-outline-rounded]"></span>
        }
      </button>
    </div>
    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      <div class="text-red-500 text-xs mt-1">
        @if (loginForm.get('password')?.errors?.['required']) {
          <div>Mot de passe est requis.</div>
        }
        @else if (loginForm.get('password')?.errors?.['minlength']) {
          <div>Le mot de passe doit contenir au moins 8 caractères.</div>
        }
        @else if (loginForm.get('password')?.errors?.['pattern']) {
          <div>Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un symbole ( ex: &#64;$!%*?&)</div>
        }
      </div>
    }
  </div>
  <div class="mt-8">
    <button class="bg-gray-700 dark:border-gray-400 text:dark text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Se connecter</button>
  </div>
</form>
<div class="mt-4 flex items-center justify-between">
          <span class="text-xs text-gray-500 ">
            Vous n'avez pas de compte?
            <a [routerLink]="['/register']" href="#" class="text-xs text-gray-500 ">S'inscrire</a>
          </span>
</div>
