<header class=" flex sm:justify-start sm:flex-nowrap w-full text-sm py-3 z-50">
  <nav class="max-w-[1200px] px-4 mx-auto w-full flex items-center justify-between">
    <a class="w-fit flex items-center gap-3 font-semibold text-xl text-black focus:outline-none focus:opacity-80 dark:text-white" href="#" aria-label="Brand">
      <div class="hidden dark:block">
        <img ngSrc="assets/logoD.png" alt="logo" class="h-10 w-auto" height="216" width="216">
      </div>
      <div class="dark:hidden">
        <img ngSrc="assets/logoL.png" alt="logo" class="h-10 w-auto" height="216" width="216">
      </div>
      <span class="hidden sm:block">I-Zara</span>
    </a>
    <div class="flex items-center gap-4 sm:mt-0 w-fit">
      <app-theme-controller></app-theme-controller>
    </div>
  </nav>
</header>
