<header class=" flex sm:justify-start sm:flex-nowrap w-full text-sm py-3 z-50">
  <nav class="max-w-[1200px] px-4 mx-auto w-full flex items-center justify-between">
    <a class="w-fit flex items-center gap-3 font-semibold text-xl text-black focus:outline-none focus:opacity-80 dark:text-white" href="#" aria-label="Brand">
      <div class="dark:hidden block">
        <img
       ngSrc="logoL.webp?token=e696be52-5611-4fbe-9e3a-2a1e68a04100"
       placeholder height="216" width="216" class="size-10" alt="brand" />
     </div>
     <div class="hidden dark:block">
       <img
       ngSrc="logoD.webp?token=0074ba73-295a-42c5-8b92-72ec85a1859a"
       placeholder height="216" width="216" class="size-10" alt="brand" />
     </div>
      <span class="hidden sm:block">I-Zara</span>
    </a>
    <div class="flex items-center gap-4 sm:mt-0 w-fit">
    <app-theme-controller></app-theme-controller>
    <div id="dropdown" #dropdownTrigger class="hs-dropdown relative inline-flex">
      <button type="button" class="hs-dropdown-toggle font-medium rounded-full hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 size-9 flex items-center justify-center" aria-controls="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon-[material-symbols--menu-rounded] invert-0 dark:invert"></span>
      </button>
    
      <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-white shadow-md rounded-lg mt-2 z-40">
        <div class="p-4 space-y-4">
          <div class="shrink-0 group block">
            <div class="flex items-center">
              <div class="font-medium rounded-full bg-blue-400 text-white size-9 flex items-center justify-center">
              {{user.email.substring(0, 1).toUpperCase()}}
              </div>
              <div class="ms-3">
                <p class="text-sm font-medium text-dark">{{user.email}}</p>
              </div>
            </div>
          </div>
          <button class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-white bg-red-600/80 dark:bg-red-500/60 w-full" (click)="logout()">
            <span class="icon-[material-symbols--logout-rounded]"></span>
            log out
          </button>
        </div>
      </div>
    </div>
    
    </div>
  </nav>
</header>
