<div class="flex justify-center items-center w-full md:h-screen">
  <div class="content grid grid-cols-1 md:grid-cols-2 flex-row ">
    <article class=" z-10 text-dark dark:text-white flex items-center justify-center">
      <div>
        <div class="mt-4 shadow-xl rounded-xl px-4 py-10 w-[90svw] sm:w-[400px] bg-white dark:bg-neutral-900">
          <div class="flex items-center justify-center w-full flex-col">
            <span class="icon-[material-symbols--cloud-download] size-20 text-[#3767ea]"></span>
            <h1 class="text-2xl">
              Pret a etre telecharger
            </h1>
            <span class="text-sm">
              Transfert expire dans {{ expiration | ExpirationDate }}jours
            </span>
            <div class="flex items-center justify-center mt-4 flex-col bg-[#3767ea]/15 text-[#3767ea]  rounded-lg w-full p-4">
              <span class="text-sm">
                {{titre}}
              </span>
              <span class="text-xs">Taille {{taille | bytesConverter }}</span>
            </div>
          </div>

          <a class="w-full mt-4 bg-[#3767ea] text-white flex justify-center items-center cursor-pointer rounded-lg px-4 py-2" [href]="file" target="_blank">
            <span class="icon-[material-symbols--download] size-5"></span>
            <span>
            Telecharger
            </span>
          </a>
        </div>
      </div>
    </article>
    <div class="flex items-center justify-center">
      <img src="assets/download.svg" alt="" class="w-full md:w-[40vw]"/>
    </div>
  </div>
</div>
