<main class="flex items-center justify-center w-screen min-h-screen">
  <div class="w-full min-h-full flex items-center justify-center">
    <div class="sm:bg-white sm:dark:bg-neutral-900 flex shadow-lg overflow-scroll mx-auto max-w-sm lg:max-w-4xl">
      <div class="hidden lg:block lg:w-1/2 bg-gray-200 dark:bg-neutral-800">
            <img
            ngSrc="bgAuth.webp?token=2dfd31b0-960e-42fe-9505-9cbebe9c9157" alt="auth-bg" class="w-full h-full object-cover" 
            placeholder width="448" height="569.333" priority/>
      </div>
      <div class="w-full p-8 lg:w-1/2 my-auto">
        <div class="flex items-center justify-center mb-2">
          <div class="dark:hidden block">
              <img
            ngSrc="logoL.webp?token=e696be52-5611-4fbe-9e3a-2a1e68a04100"
            placeholder height="216" width="216" class="size-12" alt="brand" />
          </div>
          <div class="hidden dark:block">
            <img
            ngSrc="logoD.webp?token=0074ba73-295a-42c5-8b92-72ec85a1859a"
            placeholder height="216" width="216" class="size-12" alt="brand" />
          </div>
          <h2 class="text-2xl text-gray-800 dark:text-white font-bold ms-2">I-Zara</h2>
        </div>
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
