<app-continue-with-google></app-continue-with-google>
<div class="mt-4 flex items-center justify-between">
  <hr class="w-full"/>
  <a href="#" class="text-xs text-center text-gray-500 uppercase mx-4">ou</a>
  <hr class="w-full"/>
</div>
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="mt-4">
    <label class="block text-gray-700 dark:text-gray-200 text-sm font-bold mb-2">Adresse E-mail</label>
    <input class="bg-gray-200 dark:bg-gray-800/40 dark:border-gray-700 dark:text-gray-200 text-gray-700  focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="email" formControlName="email" />
    <div class="text-red-500 text-xs mt-1">
      @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
        @if (registerForm.get('email')?.errors?.['required']){
          <div>Mot de passe est requis.</div>
        }
        @else if (registerForm.get('email')?.errors?.['email'] || registerForm.get('email')?.errors?.['pattern']) {
          <div>Adresse E-mail invalide.</div>
        }
      }
    </div>
  </div>
  <div class="mt-4">
    <div class="flex justify-between">
      <label class="block text-gray-700 dark:text-gray-200 text-sm font-bold mb-2">Mot de passe</label>
    </div>
    <div class="relative">
      <input class="bg-gray-200 dark:bg-gray-800/40 dark:border-gray-700 dark:text-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="password" formControlName="password"  [type]="showPassword ? 'text' : 'password'" />
      <button id="password" type="button" (click)="showPassword = !showPassword" class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-hidden focus:text-blue-600 dark:text-neutral-600 dark:focus:text-blue-500">
        @if (showPassword) {
          <span class="icon-[material-symbols--visibility-outline-rounded]"></span>
        }
        @else {
          <span class="icon-[material-symbols--visibility-off-outline-rounded]"></span>
        }
      </button>
    </div>
    @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
      <div class="text-red-500 text-xs mt-1">
        @if (registerForm.get('password')?.errors?.['required']) {
          <div>Mot de passe est requis.</div>
        }
        @else if (registerForm.get('password')?.errors?.['minlength']) {
          <div>Le mot de passe doit contenir au moins 8 caractères.</div>
        }
        @else if (registerForm.get('password')?.errors?.['pattern']) {
          <div>Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un symbole ( ex: &#64;$!%*?&)</div>
        }
      </div>
    }
  </div>
  <div class="mt-4">
    <div class="flex justify-between">
      <label class="block text-gray-700 dark:text-gray-200 text-sm font-bold mb-2">Verification de mot de passe</label>
    </div>
    <input class="bg-gray-200 dark:bg-gray-800/40 dark:border-gray-700 dark:text-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="password" formControlName="validationPassword"/>
    <div class="text-red-500 text-xs mt-1">
    @if (registerForm.get('validationPassword')?.invalid && registerForm.get('validationPassword')?.touched) {
      @if(registerForm.get('validationPassword')?.errors?.['required']) {
        <div>Verification de mot de passe requis.</div>
      }
    }
    @else if (registerForm.errors?.['passwordMismatch'] && registerForm.touched) {
      <div>Les mots de passe ne correspondent pas.</div>
    }
    </div>
  </div>
  <div class="mt-8">
    <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">S'inscrire</button>
  </div>
</form>
<div class="mt-4 flex items-center justify-between">
  <span class="text-xs text-gray-500 ">
    Vous avez déjà une compte?
    <a [routerLink]="['/']" class="text-xs text-gray-500 ">Se connecter</a>
  </span>
</div>
